*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: url("../img/fun.jpg");
}
nav{
    background: #534B52;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em 0 .2em 0;
    font-weight: normal;
}
ul {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
}
a{
    display: inline-block;
    text-decoration: none   ;
    color: #E0DDCF;
    padding: 1em;
}

a:visited{
    color: #e0ddcf;
}
a:hover{
    color: #010328;
}
.center{
    flex-grow: 1;
    text-align: center;
}
.left{
    margin-left: 6em;
}
.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
    color: #F1F0EA;
    line-height: 2;
}
.flex{
    width: 70dvh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #2D232Eaa;
}