*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
nav{
    background: #c3c3c3;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em 0 .2em 0;
    font-weight: normal;
}
ul {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    align-items: center;
}
a{
    display: inline-block;
    text-decoration: none   ;
    color: black;
    padding: .5em;
}

a:visited{
    color: black;
}
a:hover{
    color: blue;
}
.center{
    flex-grow: 1;
    text-align: center;
}
.left{
    padding-left: 1em;
}
.right{
    padding-right: 1em;
}