* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}

#map {
    width: 80vw;
    height: 70vh;
    margin: 2rem auto 0 auto;
}

.marker {
    background-image: url("../img/mapbox-pin.png");
    background-size: cover;
    height: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    cursor: pointer;
}

header {
    height: 5rem;
    background-color: hsl(274, 12%, 34%);
    color: hsl(236, 28%, 78%);
}

header > h1 {
    font-size: 3rem;
    text-align: center;
}

body {
    background-color: hsl(268, 20%, 25%);
    color: hsl(236, 28%, 78%);
    padding: 0 3rem;
}

.form {
    display: flex;
    justify-content: center;
}

button, select, input{
    background-color: hsl(274, 12%, 34%);
    color: hsl(236, 28%, 78%);
    margin-top: 1rem;

}
label {
    margin-top: 1rem;
    margin-right: .25rem;
}
input {
    width: 35ch;
    margin-right: .25rem;
}
select  {
    margin-right: 1rem;
}

#hide {
    margin-left: 1rem;
}

.img{
    height: 80px;
}

.popup{
    color: hsl(0 0% 0%)
}
