body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message{
    width: 50%;
padding: 5px 1em;
    margin: 5px auto;
    border-radius: 5px;
}
.message-info{
background-color: #c2d4ff90;
    color: #3d3493;
}
.message-success{
background-color: #c5f2d290;
    color: #216543;
}
.message-warning{
background-color: #fcfcbd90;
    color: #888e23;
}
.message-error{
    background-color: #f8c7cd90;
    color: #84293f;

}