:root{
    --bg-info: #c2d4ffaa;
    --text-info: #3d3493;
    --bg-success: #c5f2d2aa;
    --text-success: #216543;
}
body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message{
    width: 50%;
    padding: 10px 1em;
    margin: 10px auto;
    border: 1px solid #c3c3c360;
    border-radius: 5px;
    font-weight: bold;
}
.message-info{
background-color: var(--bg-info);
    color: var(--text-info);
}
.message-success{
background-color: var(--bg-success);
    color: var(--text-success);
}
.message-warning{
background-color: #fcfcbdaa;
    color: #888e23;
}
.message-error{
    background-color: #f8c7cdaa;
    color: #84293f;


}