* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}
body {
    background: hsl(239 78% 44% / 20%);
}
.head {
    text-align: center;
    font-size: 3rem;
}
.container {
    padding-left: 2rem;
    padding-right: 2rem;
}
.cards {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: .5rem;
}
.city{
    font-size: 2rem;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
}
.card  {
    padding: 2rem;
    width: 100%;
    height: 10vh;
    background: hsl(239 78% 34% / 20%);
    border-radius: 16px;
    box-shadow: 0 4px 30px 10px hsl(0 0% 0% / 10%);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid hsl(239 78% 34% / 83%);
}
.card img {
    margin: 0 auto;
}